.wrap {
  max-width: 480px;
  margin: 80px auto;
  padding: 10px 20px;
  border: tomato 7px solid;
  position: relative;
}
.ZetIndexMaximum {
  z-index: 9;
}
#digital_watch{
  text-align: center;
  font-size: 24px;
}